*{
    box-sizing: border-box;
    margin: 0;
    --corFundo: beige;
    --corClara: rgb(149, 182, 160);
    --corMédia: darkgreen;
    --corEscura: rgb(25, 66, 1);
    --txtTitulo: 20px;
    --txtParagrafo: 14px;
    --txtMenu: 16px;
    font-family: 'Atma', system-ui;
}

body{
    background-color: var(--corFundo);
}

header{
    position: fixed; 
    width: 100dvw; 
    height: fit-content;
    background-color: var(--corFundo); 
    top:0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1{
    justify-self: center;
    align-self: center;
    font-size: var(--txtTitulo);
    margin-top: 0.5rem;
}

nav{
    display: flex; 
    flex-direction: row; background-color:var(--corClara); 
    padding: 0.5rem;
    margin-bottom: -1rem;
}

.menu{
    display: flex; 
    flex-direction: row; margin-left:15px; 
    align-items: center;
    background-color: var(--corClara);
    font-size: var(--txtMenu);
}

.menu a:hover{
    font-weight: bold;
}

a{
    color: var(--corEscura); text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: var(--corMédia);
}

span{
    display: flex; 
    width: 4px; height: 4px; border-radius: 50%; background-color: var(--corEscura); margin-right: 3px;
}

hr{
    background-color: var(--corClara); 
    height: 3px;
}

main{
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section{
    padding: 0.5rem;
}

.foto{
    border-radius: 70%; 
    display: flex; 
    flex-direction: row;
    height: 15dvh;
    width: auto;
    margin-right: 0.5rem;
    animation-name: animacao;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
}

h2{
    width: fit-content; 
    height: auto;
    margin-left: 0.5rem;
    font-size: var(--txtTitulo);
    box-shadow: 0px 2px 0rem var(--corClara);
}

p{
    margin: 15px 0;
    font-size: var(--txtParagrafo);
}

ul{
    margin-left: 1rem;
    font-size: var(--txtParagrafo);
}

li{
    margin: 0.5rem 0;
}

footer{
    display: flex;
    width: 100dvw;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100px;
}

#projetos{
    display: flex;
    flex-direction: column;
}

.container-projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 0.5rem;

}

@keyframes animacao{
    from{ scale: 1;}
    to { scale: 1.3;}
}

.projeto{
    width: max-content;
    height: auto;
    margin: 2rem 0.5rem -0.5rem 0.5rem;
    padding: 0.5rem;
    border: 2px dotted var(--corClara);
    background-color: var(--corFundo);
    transition: all 2s ease-in-out;
}

.projeto:hover {
    scale: 1.3;
}

.projeto:hover .link{
    display: flex;
}

.ImgsDiv img{
    width: 55dvw;
    height: auto;
    cursor: pointer;
}

#hobbies{
    width: 90dvw;
}

#contatos{
    width: 70dvw;
}

#sobre{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

#sobre img{
    margin-top: 1.5rem;
    z-index: -1;
}

#sobre div{
    margin-left: 1rem;
}

#sobre p{
    margin-left: 1rem;
    max-width: 450px;
}

.link{
    display: none;
}

.link-git{
    background-color: var(--corClara);
    color: var(--corEscura);
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
}

.link-git:hover{
    background-color: var(--corEscura);
    color: var(--corClara);
    scale: 1.08;
}

.link-git:active{
    scale: 0.9;
}

footer{
    margin-top: 2rem;
}