header{
    background-color: darkolivegreen;
    height: 3rem;
    padding: 1rem;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
}

h1{
    margin: 0;
}

main{
    padding: 1rem;
}

.menu{
    align-items: center;
    border-bottom: 2px solid darkolivegreen;
    border-radius: 10px;
}

.menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.menu ul li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: darkolivegreen;
}

h2{
    justify-self: center;
    color: darkgreen;
}

